.file-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.file-list-item-left {
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  padding-left: 0;
}
.file-list-item-buttons,
.file-list-item-type {
  padding-left: 4px;
  flex-grow: 0;
  flex-shrink: 0;
}

.file-list-indent {
  flex-shrink: 0;
}

.file-list-item-buttons {
  display: none;
}
.file-list-item:hover .file-list-item-buttons {
  display: inherit;
}

.file-list-item-buttons .ms-Button {
  height: 32px;
  width: 32px;
}

.file-list-item-type {
  width: 65px;
  font-size: 10px;
}
